.top-segment{
    height: 20vh;

}
.index_page{
    background-image: url('./visual/main_bg.jpg');
    height:100vh;
}
.comp{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
    
}
.comp>div:nth-child(2){
    padding-top:10vh;
    
}
div.comp input[type="text"]{
    text-align: center;
    height:6vh;
    border: 1px solid black;
    border-radius: 25px;
    width:80%;

}
input:focus{
    outline: none !important;
    border-radius: 25px;
    border: 1px solid rgb(119, 12, 161) !important;
}